{% extends 'main/dashboard/index.html' %}

{% block content %}
<div class="col-md-4">
    <aside class="profile-nav alt">
        <section class="card">
            <div class="card-header user-header alt bg-dark">
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-light display-6">{{ customer_details.customer_name }}</h2>
                        <p>Customer</p>
                    </div>
                </div>
            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-envelope-o"></i> Email : {{ customer_details.customer_email }}</a>
                </li>
                <li class="list-group-item">
                    <a href="#"> <i class="fa fa-tasks"></i> User Type : Customer <span class="badge badge-danger pull-right">15</span></a>
                </li>
             
            </ul>

        </section>
    </aside>
</div>
{% endblock %}

